
@using TendersApp.Data
@using TendersApp.Users
@inject IJSRuntime JsRuntime
@inject TendersApp.Data.MongoDb mongoConnetction;
<br /><br />
<label>Область:</label> <input placeholder="Область" @bind-value="@division"></input>
<br /><br />

@code {
    public string division = "";
}
