@page "/authorization"

<PageTitle>Авторизация</PageTitle>

@using TendersApp.Data
@using TendersApp.Users
@using TendersApp.Components
@inject IJSRuntime JsRuntime
@inject MongoDb MongoDb
@inject NavigationManager navManager

<link rel="stylesheet" href="RegStyle.css" />

<div class="auth-user">
    <h3 style="color: black;">Авторизация</h3>
<form onsubmit="@TryFindUser">
<label>Логин:</label><input placeholder="Логин" style="margin-left: 5%;" @bind-value="@user.Login"/>
<br /><br />
<label>Пароль:</label><input placeholder="Пароль" style="margin-left: 5%;" type="password" @bind-value="@user.Password" />
<button type="submit">Sign In</button>
</form>
</div>

@code {
    User user = new User();

    public async Task TryFindUser()
    {
        User tryToFoundUser;
        tryToFoundUser = MongoDb.CheckLogins(user.Login);

        if (tryToFoundUser is null)
        {
            await JsRuntime.InvokeVoidAsync("alert", "Нет такого пользователся");
            return;
        }
        else
        {
            if (tryToFoundUser.Password == user.Password)
            {
                MongoDb.currentUser = MongoDb.CheckLogins(user.Login);
                navManager.NavigateTo("/personalPage");
            }
            else
            {
                await JsRuntime.InvokeVoidAsync("alert", "Неверный пароль");
            }
        }
    }
}
